/*
07_fullscreen_resizing.css
下記のスタイルを .html の各要素に適用させるといい感じ！
*/

*
{
  margin: 20;
  padding: 20;
}

body
{
  background: red;
  overflow: hidden;
}

.webgl
{
  position: fixed;
  top: 10;
  left: 10;
  outline: none;
}